.footer_wrapper {
    padding: 100px 0 30px;
    background-color: #F5F5F5;
}

.career_col p {
    margin: 50px 0 10px;
}

.career_col i {
    font-size: 22px;
    color: #3E4D68;
    transition: 0.5s;
}

.career_col i:hover {
    color: #ff5723;
}

.follow_us a {
    margin-right: 20px;
}

.hiring {
    border: 1px dashed rgba(0, 0, 0, .125);
    padding: 10px 25px;
    color: #3e4d68;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    transition: 0.5s;
}

.hiring:hover {
    border: 1px dashed #FFAC5F;
    color: #ff5723;
}

.hiring img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.contact_title {
    display: flex;
}

.contact_col .first {
    margin: 20px 0;
}

.contact_col .second {
    margin-bottom: 5px;
}

.contact_title img {
    width: 32px;
    margin-right: 15px;
}

.contact_title p {
    font-size: 20px;
    font-weight: bold;
}

.contact_col p {
    transition: 0.5s;
}

.contact_col i {
    margin-right: 10px;
}

.contact_col a:hover p {
    color: #ff5723 !important;
}

.badges {
    margin-top: 40px !important;
}

.badges a {
    margin-right: 30px;
}

.badges img {
    width: 75px;
    height: 70px;    
}

.badges img:last-child {
    margin-right: 0;
}

.links_row {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin-top: 70px !important;
    padding: 70px 0 !important;
}

.footer_links .paragraph {
    color: #101f38;
    font-size: 16px;    
    transition: 0.5s;
    position: relative;  
    padding: 5px 0;
}

.copyright a.paragraph {
    transition: 0.4s;
}

.footer_links .paragraph:hover, .copyright a.paragraph:hover, .site_map .paragraph:hover {
    color: #ff5723;
}

.copyright .paragraph {
    position: relative;
}

.footer_links .paragraph::before, .copyright .paragraph::before, .site_map .paragraph::before {
    content: '';
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 0;
    height: 1px;
    transition: 0.4s;
}

.footer_links .paragraph:hover::before, .copyright a.paragraph:hover::before, .site_map .paragraph:hover::before {
    width: 100%;
    background-color: #ff5723
}

.footer_links li {
    margin-bottom: 10px;
}

.footer_links li:first-child {
    margin-bottom: 25px;
}

.p_title {
    font-family: 'Inter', sans-serif;
    color: #101f38;
    font-size: 16px;
    opacity: 0.8;    
}

.footer_links {
    margin: 0;
    padding: 0;
}

.site_map {
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.site_map .paragraph {
    transition: 0.4s;
    position: relative;
}

.site_map i {
    font-size: 20px;
} 