.get_started {
    border-radius: 50px;
    background-color: #FF5723;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 17px 35px;    
    transition: 0.25s;
    box-shadow: 0 19px 40px -10px rgb(255 79 0/25%);    
    transition: 0.25s;
    align-self: flex-start;
}

.get_started_blue {
    background-color: #546DFF !important;
}

.get_started_blue:hover {
    background-color: #233EFF !important;
}

.get_started:hover {
    background-color: #ff2938    
}

.get_started i::before {
    margin-left: 5px;
    font-weight: bold !important;
}