.main_slider .slick-dots {
    bottom: 50px;
    font-size: 20px !important;    
  }
  
  .main_slider .slick-dots button::before {
    font-size: 15px;
    color: white !important;        
  }
  
  .main_slider .slick-next {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    right: 25px !important; 
    width: 40px !important; 
    height: 60px !important;
  }
  
  .main_slider .slick-prev {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    left: 25px !important; 
    width: 40px !important; 
    height: 60px !important;
    z-index: 1;    
  }
  
  .main_slide {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;    
  }
  
  .main_slider img {
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
  }
  
  .main_slide h1 {
    font-size: 55px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 0;
  }

  .main_slide p {
    color: white;
    margin: 20px 0;
  }