.services {
    margin: 100px auto;
}

.services h1 {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #101f38;
}

.services p {
    font-size: 17px;
    color: #3e4d68;
    font-family: 'Open Sans', sans-serif;    
}

.services_card {
    padding: 100px 20px 20px;
    border-radius: 15px;    
    position: relative;
}

.services_card img {
    border-radius: 40px;
    padding: 25px;
    background-color: white;
    width: 120px;
    height: 120px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40%);
    position: absolute;    
    box-shadow: 0 10px 25px -5px rgb(0 0 0/10%);
}

.services_card h2 {
    font-size: 24px;
    color: #101f38;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
}

.bg_1 {
    background-color: #ffe7da;    
}

.bg_2 {
    background-color: #f5f5f5;
}

.bg_3 {
    background-color: #fff6e0;
}

.bg_4 {
    background-color: #ff5723;
}

.bg_4 h2, .bg_4 p {
    color: white;
}