.workplace_wrapper {
    background-color: #F5F5F5;
    text-align: center;
    padding: 100px 0;
    position: relative;
    overflow: hidden;    
}

.workplace_wrapper h1 {
    position: relative;
}

.workplace_wrapper h2 {
    font-size: 22px;
    font-style: italic;
    color: #101f38;
    margin: 25px 0 45px;    
    position: relative;    
}

.blue_ball {
    width: 500px;
    height: 500px;
    top: -250px;
    background: linear-gradient(225deg, #5688f9 0%, #233eff 100%);
    border-radius: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;        
}

.orange_ball {
    background: linear-gradient(225deg, #fe7649 0%, #ff2938 100%);
    width: 170px;
    height: 170px;
    bottom: -85px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.workplace_slider {
    cursor: grab;
}

.workplace_slider img {
    width: 60px;
    height: 60px;
    margin: auto;    
}

.workplace_slider p {
    font-size: 15px;
    margin-top: 15px;
}